<h1>LogIn</h1>

{{#if messages}}
    <h4 class="alert alert-danger">Invalid Login: Pleae try again...</h4>
{{else}}
    <p><i>"LogIn for more features like message, post and interact with others."</i></p>
{{/if}}
<form method="post">
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input
      type="text"
      name="username"
      class="form-control"
      id="username"
      placeholder="Joe Satriani"
      required
    />
  </div>
  <label for="password" class="form-label">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    class="form-control"
    aria-describedby="passwordHelp"
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
  />
  <div id="passwordHelp" class="form-text">
    Your password must be 8-20 characters long, contain letters and numbers, and
    must not contain spaces, special characters, or emoji.
  </div>
   <button class="btn btn-secondary mt-3 offset-5">
        <i class="bi bi-person-fill-check"></i> Login
    </button>
</form>