<h1>Edit</h1>
<form method="post">
  <fieldset>
    <label for="title" class="form-label">Title: *</label>
    <input name="title" id="title" class ="form-input" required value="{{post.title}}" />
  </fieldset>
  <fieldset><label class="form-label" for="body">Body: *</label>
    <textarea class ="form-input" name="body" id="body" required>{{post.body}}</textarea>
  </fieldset>
  <fieldset>
    <label for="username" class="form-label">Username: *</label>
    <input name="username" class ="form-input" id="username" required value="{{post.username}}" />
  </fieldset>
  <button class="btn btn-secondary offset-4">
    <i class="bi bi-plus-circle"></i>
    Save
  </button>
</form>