<div class="container-fluid">
  <form method="post">
  <div class="row">
    <div class="col-3">
      <label for="firstname" class="form-label">First Name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        aria-label="First name"
        required
      />
    </div>
    <div class="col-3">
      <label for="lastname" class="form-label">Last Name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Last name"
        aria-label="Last name"
        required
      />
    </div>
    <div class="row-6">
      <div class="col-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="***@***.com"
          required
        />
      </div>
      <div class="mb-3 row">
        <div class="col-3">
          <label for="message" class="form-label">Message:</label>
          <textarea class="form-control" id="message" rows="5" required></textarea>
        </div>
      </div>
      <div class="col-12">
          <button type="submit" class="btn btn-secondary">Send</button>
      </div>
    </div>
  </div>
  </form>
</div>