<div class="text-center mainText">
    <h1 class="display-4 mainTitle">MeWe</h1>
    <p class="paraMain"><i>"A social media alike site for people who want to share things that they are going through without being shy, judged, or even known. At this time all the functionality has not been added as I am still learning but soon it will be a good place to come and post thing that you are going through."</i></p>
</div>
